<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="root">
        <header id="tab">
            <span id="logo">
                WhatsApp
            </span>
    
            <div id="command">
                <ul>
                    <li><i class="fa-solid fa-florin-sign"></i></li>
                    <li><i class="fa-solid fa-expand"></i></li>
                    <li><i class="fa-solid fa-xmark"></i></li>
                </ul>
            </div>
        </header>
        
        <main id="main-content">
            <div id="user-tab">
                <div class="contact-header px-10">
                    <div class="profile-image-wrapper-40">
                        <img class="profile-image" src="img/user-image.jpg">
                    </div>
    
                    <div class="user-command">
                        <ul>
                            <li><i class="fa-solid fa-circle-notch"></i></li>
                            <li><i class="fa-solid fa-plus"></i></li>
                            <li><i class="fa-solid fa-ellipsis"></i></li>
                        </ul>
                    </div>
                </div>
    
                <div class="alert-pop px-10">
                    <div class="profile-image-wrapper bell-wrapper">
                        <i class="fa-solid fa-bell-slash bell-icon"></i>
                    </div>
    
                    <div class="alert-pop-text">
                        <p>Ricevi notifiche di nuovi utenti</p>
                        <span class="alert-pop-link">Attiva notifiche desktop</span>
                    </div>
                </div>
    
                <div class="search-bar px-10">
                    <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    <input class="contact-search" type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
    
                <div class="contact-area px-10">
                    <div v-for="(contact, index) in contacts" class="contact-user" @click="currentIndex = index">
                        <div class="contact-info">
                            <div class="profile-image-wrapper">
                                <img :src="'img/' + contact.avatar" alt="">
                            </div>
    
                            <div>
                                <h4 class="user-name">{{contact.name}}</h4>
                                <p class="user-last-message">{{contact.messages[contact.messages.length-1].text}}</p>
                            </div>
                        </div>
                        <div class="contact-time">{{contact.messages[contact.messages.length-1].date}}</div>
                    </div>
                </div>
            </div>
    
            <div id="chat-tab">
                <div class="contact-header px-10">
                    <div class="contact-info">
                        <div class="profile-image-wrapper">
                            <img :src="'img/' + contacts[currentIndex].avatar" alt="">
                        </div>
    
                        <div>
                            <h4 class="user-name">{{contacts[currentIndex].name}}</h4>
                            <p class="user-last-message">ultimo accesso</p>
                        </div>
                    </div>
    
                    <div class="user-command">
                        <ul>
                            <li><i class="fa-solid fa-video"></i></li>
                            <li><i class="fa-solid fa-phone"></i></li>
                            <li>|</li>
                            <li><i class="fa-solid fa-magnifying-glass"></i></li>
                            <li><i class="fa-solid fa-ellipsis"></i></li>
                        </ul>
                    </div>
                </div>
    
                <div class="chat-area" v-for="(contact, index) in contacts" :class="index == currentIndex ? 'active' : ' '">
                    <div v-for="message in contacts[index].messages" class="message-wrapper" :class="message.status == 'sent' ? 'sent-message' : 'received-message'">
                        <span class="message-text">{{message.text}}</span>     
                        <span class="message-time">{{message.date}}</span>           
                    </div>
                </div>
    
                <div class="write-message-area px-10">
                    <div class="user-command">
                        <ul>
                            <li><i class="fa-solid fa-face-smile"></i></li>
                            <li><i class="fa-solid fa-paperclip"></i></li>
                        </ul>
                    </div>
    
                    <input class="contact-search" type="text" placeholder="Cerca o inizia una nuova chat">
    
                    <div class="user-command">
                        <ul>
                            <li><i class="fa-solid fa-microphone"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
    </div>
    



    <script src="app.js"></script>
</body>
</html>