:root {
    --app-heavy-green: #00A884;
    --app-green: #D9FDD3;
    --app-light-green: #9FDED1;
    --app-grey: #5D6D76;
    --app-blue: #8EDAFD;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.profile-image-wrapper {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.profile-image-wrapper img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.px-10 {
    padding: 0 20px;
}

/* barra dei comandi superiore */
#tab {
    background-color: var(--app-heavy-green);
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

#logo {
    color: var(--app-light-green);
    line-height: 30px;
}

#command {
    color: var(--app-light-green);
    line-height: 30px;
}

#command ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 18px;
}

/* zona principale dell'app  */
#main-content {
    flex-grow: 1;
    display: flex;
}

/* sezione di sinistra, contatti + profilo  */
#user-tab {
    width: 500px;
    display: flex;
    flex-direction: column;
}

/* sezione profilo  */
.contact-header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-image-wrapper-40 {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.profile-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.user-command {
   display: flex;
   color: var(--app-grey);
}

.user-command ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 1.2rem;
}

/* alert notifiche   */
.alert-pop {
    height: 80px;
    background-color: var(--app-blue);
    display: flex;
    align-items: center;
    gap: 8px;
}

.alert-pop-text p {
    font-weight: 600;
}

.alert-pop-link {
    text-decoration: underline;
    color: var(--app-grey);
}

.bell-wrapper {
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bell-icon {
    color: var(--app-blue);
}

/* barra di ricerca   */
.search-bar {
    height: 45px;
    display: flex;
    align-items: center;
}

.contact-search {
    flex-grow: 1;
    border: none;
    height: 90%;
    padding: 0 10px;
}

.search-icon {
    padding: 0 18px;
    color: var(--app-grey);
}

/* area dei contatti  */
.contact-area {
    flex-grow: 1;
}

.contact-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.contact-user.active {
    background-color: rgba(216, 214, 210, 0.5);
}

.contact-user.invisible {
    display: none;
}

.contact-info {
    display: flex;
    gap: 8px;
    align-items: center;
}

.user-name {
    font-size: 1.2rem;
    font-weight: 500;
}

.user-last-message {
    font-size: 1rem;
    color: var(--app-grey);
}

.contact-time {
    color: var(--app-grey);
    font-size: 0.7rem;
}

/* sezione di destra, chat in corso */
#chat-tab {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* zona dei messaggi  */
.chat-area {
    flex-grow: 1;
    padding: 20px 70px;
    display: none;
    gap: 1px;
    flex-direction: column;
    background-image: url(img/whatsapp-bg.jpg);
}

.chat-area.active {
    display: flex;
}

.message-wrapper {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 3px 8px #D1CFC8;
    min-width: 50px;
    gap: 10px;
    padding: 5px 8px;
    border-radius: 5px;
    z-index: 99;
    min-height: 40px;
    max-width: 75%;
    position: relative;
    filter: drop-shadow( 0px 2px 2px #D1CFC8);
}

.message-wrapper.hidden {
    display: none;
}

.z-index100 {
    z-index: 100;
    box-shadow: 0px 0px 3px #D1CFC8;
}

.message-wrapper:before {
    content: '';
    display: none;
    position : absolute;
    top: 0;
    border: 5px solid;
    border-top-width: 6px;
    border-bottom-width: 6px;
}

.sent-message {
    background-color: var(--app-green);
    align-self: flex-end;
}

.sent-message::before {
    border-color: var(--app-green);
    left: 100%;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.received-message {
    background-color: white;
    align-self: flex-start;
    border-top-left-radius: 0;
}

.received-message::before {
    border-color: white;
    right: 100%; 
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.sent-message:first-child::before, 
.received-message + .sent-message::before,
.received-message:first-child::before, 
.sent-message + .received-message::before {
    display: block;
}

.sent-message:first-child, 
.received-message + .sent-message {
    border-top-right-radius: 0;
}

.received-message:first-child, 
.sent-message + .received-message {
    border-top-left-radius: 0
}

.sent-message + .received-message, 
.received-message + .sent-message {
    margin-top: 20px;
}

.message-text {
    align-self: flex-start;
}

.message-time {
    color: var(--app-grey);
    font-size: 0.7rem;
    align-self: flex-end;
}

.dropdown-toggle {
    color: var(--app-grey);
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 999;
    font-size: 0.8rem;
    visibility: hidden;
}

.message-wrapper:hover .dropdown-toggle {
    visibility: visible;
}

.dropdown {
    width: 100px;
    background-color: white;
    border: 1px solid var(--app-grey);
    position: absolute;
    top: 18px;
    right: 12px;
    visibility: hidden;
    z-index: 99999;
}

.dropdown.active {
    visibility: visible;
}

.dropdown span {
    display: block;
    margin: 10px;
}

/* zona di scrittura del messaggio  */
.write-message-area {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 18px;
}