* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.profile-image-wrapper-50 {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.profile-image-wrapper-50 img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.px-10 {
    padding: 0 10px;
}

.px-30 {
    padding: 20px 70px;
}

/* barra dei comandi superiore */
#tab {
    background-color: green;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

#logo {
    color: white;
    line-height: 30px;
}

#command {
    color: white;
    line-height: 30px;
}

#command ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 18px;
}

/* zona principale dell'app  */
#main-content {
    flex-grow: 1;
    display: flex;
}

/* sezione di sinistra, contatti + profilo  */
#user-tab {
    width: 500px;
    display: flex;
    flex-direction: column;
}

/* sezione profilo  */
.contact-header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-image-wrapper {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.profile-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.user-command {
   display: flex;
   color: grey;
}

.user-command ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 1.4rem;
}

/* alert notifiche   */
.alert-pop {
    height: 80px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    gap: 8px;
}

.alert-pop-text p {
    font-weight: 600;
}

.alert-pop-link {
    text-decoration: underline;
    color: grey;
}

.bell-wrapper {
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bell-icon {
    color: lightblue;
}

/* barra di ricerca   */
.search-bar {
    height: 45px;
    display: flex;
    align-items: center;
}

.contact-search {
    flex-grow: 1;
    border: none;
    height: 90%;
    padding: 0 10px;
}

.search-icon {
    padding: 0 18px;
    color: grey;
}

/* area dei contatti  */
.contact-area {
    flex-grow: 1;
}

.contact-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.contact-info {
    display: flex;
    gap: 8px;
    align-items: center;
}

.user-name {
    font-size: 1.2rem;
}

.user-last-message {
    font-size: 1rem;
    color: grey;
}

.contact-time {
    color: grey;
    font-size: 0.8rem;
}

/* sezione di destra, chat in corso */
#chat-tab {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* zona dei messaggi  */
.chat-area {
    flex-grow: 1;
}

.chat-area {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.message-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    min-width: 50px;
    gap: 10px;
    padding: 5px 8px;
    border-radius: 5px;
}

.sent-message {
    background-color: lightgreen;
    align-self: flex-end;
}

.received-message {
    background-color: white;
    align-self: flex-start;
}

.message-text {
    align-self: flex-start;
}

.message-time {
    color: grey;
    font-size: 0.6rem;
    align-self: flex-end;
}

/* zona di scrittura del messaggio  */
.write-message-area {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 18px;
}